* {
    box-sizing: border-box;
    position: relative;
}

body {
    font-family: Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #fff;
}

body.dark {
    background-color: #333;
}

.top-bar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 64px;
    z-index: 100;

    background-color: rgba(100, 100, 100, 0.2);
/*    background-color: rgba(250, 160, 150, 0.4);*/
        display: none;
}

.main {
    width: 100%;
    height: 100%;
    z-index: 50;
}

.content {
    margin: 40px;
    width: calc(100% - 2*40px);
    height: calc(100% - 2*40px);
    border-radius: 10px;
    box-shadow: 0 0 5px #ccc;
    z-index: 10;
    overflow: hidden;
}

body.is-iframe .content {
    margin: 10px;
    width: calc(100% - 2*10px);
    height: calc(100% - 2*10px);
}

/** -------
 * Marker
 * -------- */

.marker {
    padding: 5px;
    border-radius: 5px;
    min-width: 30px;
    min-height: 28px;
    color: floralwhite;
    background-color: rgba(200,0,0,0.9);
}

body.dark .marker {
    box-shadow: 0 0 2px #555;
    background-color: rgba(200,50,70,0.9);
}

/** -------
 * Control Panel
 *  ------- */

.control-panel {
    position: absolute;
    border: 1px solid #bbb;
    border-radius: 10px;
    background-color: rgba(250,250,250,0.5);
    margin: 5px;
    padding: 5px;
    font-size: 10pt;
}
.control-panel label {
    padding-right: 5px;
    color: #555;
    cursor: pointer;
    vertical-align: middle;
}

.control-panel input[type="checkbox"]{
    cursor: pointer;
    vertical-align: middle;
}

body.dark .control-panel {
    background-color: rgba(100,100,100,0.5);
}

body.dark .control-panel label{
    color: #bbb;
}



